<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <title>Document</title>
      <link rel="stylesheet" href="./cuestionario.component.css">
      

</head>
<body>
    <header>
        <div class="cabecera">
        <h1>SISTEMAS OPERATIVOS II</h1>
    </div>
        <h2>CUESTIONARIO</h2>
        <div class="container">
            <section id="p1">
                <h3>1. ¿ Cuales son las partes de un grafo?</h3>
                <input type="radio" value="1" name="p1" onclick="respuesta (0,this)" >
                <label>Nodos, Ramas, Peso</label> 
                <input type="radio" value="2" name="p1" onclick="respuesta (0,this)">
                <label>Vertices ,Aristas</label>
                <input type="radio" value="3" name="p1" onclick="respuesta (0,this)">
                 <label>Lineas, Vertices</label>
            </section>
            <section id="p2">
                 <h3>2.- ¿ Ventajas de las listas adyacencia?</h3>
                 <input type="radio" value="1" name="p2" onclick="respuesta (1,this)">
                 <label>Faltan  de ceros</label> 
                 <input type="radio" value="2" name="p2" onclick="respuesta (1,this)">
                 <label>Es mas facil ver si es bidirecional</label>
                 <br>
                 <input type="radio" value="3" name="p2" onclick="respuesta (1,this)">
                  <label>No desperdicia espacio en la representacion de relaciones</label>
                </section>
                <section id="p3">
                    <h3>3.- ¿ El recorrido bfs es un recorrido en  ?</h3>
                    <input type="radio" value="1" name="p3" onclick="respuesta (2,this)">
                    <label>Anchura</label> 
                    <input type="radio" value="2" name="p3" onclick="respuesta (2,this)">
                    <label>Profundidad</label>
                    </section>
                   <section id="p4">
                    <h3>4.- ¿ Cuales es la diferencia  entre los recorridos Bfs y Dfs?</h3>
                    <input type="radio" value="1" name="p4" onclick="respuesta (3,this)">
                    <label>Bfs trabaja con un pila</label> 
                    <input type="radio" value="2" name="p4" onclick="respuesta (3,this)">
                    <label> Dfs trbaja con una pila</label>
                    <input type="radio" value="3" name="p4" onclick="respuesta (3,this)">
                     <label>Aambos trabajan con colas</label>
             </section>
            <button>Corregir</button>
            <h3>Canitidad acertadas:</h3>

        </div>
    </header>
</body>
</html>
