
*{
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}
header{
    text-align: center;
    background:#242633;
    color: #fff;
    padding: 10px 0;
    
}
.cabecera{
	width: 100%;
	height:15%;
	border-radius: 30px;
	padding:5px;
	background-color:  #BD313A;
	color:#000000;
	font-family:serif;
	font-size:30px;
	text-align: center;
	margin-left: 20px;
	margin-top: 20px;
}

.container{
    max-width: 700px;
    margin: auto;
    padding: 20px;
}
section{
    border: 2px solid #BD313A;
    border-radius: 7px;
    padding: 10px;
    margin: 10px 0;
}

label:hover{
    background: #cec0fd;

}
button{
    width: 80%;
    display: block;
    margin: auto;
    padding: 10px;
    background-color: #BD313A;
    border: none;
    cursor: pointer;
    border-radius: 20px ;
}
button:hover{
    background: #2C3C52;
    color: #BD313A;

}

h1{
    background-color: #BD313A;
}
#Resultado{
    font-size: 30px;
    color:  #BD313A;
}