<p>
    <mat-toolbar>
      <span>My Application</span>
    </mat-toolbar>
</p>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="menu.component.css">
    <title>MENU</title>
</head>
<body>
    <header>
        <div class="container" >
            <div class="fila">
              <div class="col-xl-2 col-lg-2 ">
          </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-12" >
                <nav>
                    <a href="http://localhost:4200/programacion" >CONTENIDO</a>
                </nav>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-12">
                <nav>
                    <a href="http://localhost:4200/programacion" >INICIO</a>
                </nav>
            </div>       
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-12">
                <nav>
                    <a href="http://localhost:4200/programacion" >CUESTIONARIO</a>
                </nav>
            </div>       
            <div class="col-xl-2 col-lg-2 col-md-7 col-sm-12">
                <nav>
                    <a href="http://localhost:4200/programacion" >VIDEOS</a>
                </nav>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-1 col-sm-12">
              <nav>
                  <a href="http://localhost:4200/programacion" >CONTACTO</a>
              </nav>
          </div>
            <br><br><br><br><br><br><br><br><br>
           <div class="fila">
              <div class="col-xl-8 col-lg-8 col-md-10 col-sm-12">
              <h1>QUICK <br><br><br><br> QUESTIONS</h1>
           </div>
           </div>
           </div> 
      </div>    
    </header>  
</body>
</html>
