<p>
    <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
      <span>Sis 414 G1</span>
      <span class="example-spacer"></span>
      <a routerLink="#" mat-button>Inicio</a>
      <a routerLink="#" mat-button>Contenido</a>
      <a routerLink="#" mat-button>Cuestionario</a>
      <button mat-button [matMenuTriggerFor]="menu">Videos</button>
      <mat-menu #menu="matMenu">
        <a routerLink="#" mat-menu-item>hhhh</a>
        <a routerLink="#" mat-menu-item>chcc</a>
      </mat-menu>
      <a routerLink="/ingli" mat-menu-item>Contacto</a>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>account_circle</mat-icon>
      </button>
      <a (click)="logOut()" mat-button>LogOut</a>               
      <a mat-button>{{userAuth}}</a>
    </mat-toolbar>
</p>