

<footer style="background-color: hsla(126, 58%, 48%, 0.051);" class="text-center text-lg-start bg-light text-muted"  >
    <div class="d-flex bd-highlight" style="background-color: hsla(126, 58%, 48%, 0.051);" >
        <div class="p-5 w-50 bd-highlight">
            <div class="me-5 d-none d-lg-block">
                <b><span>CONOCE NUESTRAS REDES SOCIALES</span></b>
              </div>
        </div>
        <div class="p-2 flex-shrink-1 bd-highlight d-flex align-items-center"><section
            class="d-flex flex-row-reverse bd-highlight">
            
            <button><div style="background-color: hsla(126, 58%, 48%, 0.051);">
              <a href="" class="me-2 text-reset">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="" class="me-2 text-reset">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="" class="me-2 text-reset">
                <i class="fab fa-google"></i>
              </a>
              <a href="" class="me-2 text-reset">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="" class="me-2 text-reset">
                <i class="fab fa-linkedin"></i>
              </a>
              <a href="" class="me-2 text-reset">
                <i class="fab fa-github"></i>
              </a>
            </div></button>
          </section></div>
      </div>

    
    <!-- <div class="bg-info clearfix d-flex flex-row-reverse bd-highlight">
        <button type="button" class="btn btn-secondary float-left">Example Button floated left</button>
        
        <button type="button" class="btn btn-secondary float-right">Example Button floated right</button>
        <button><div class="text-center p-4 d-flex justify-content-around align-items-left h-100">
            <i class="fa-brands fa-facebook color-facebook"></i>
            <i class="fa-brands fa-tiktok color-tiktok"></i>
            <i class="fa-brands fa-youtube color-youtube"></i>
            <i class="fa-brands fa-whatsapp color-whatsapp"></i>
        </div>  </button>        
      </div> -->
            
    <section class="" style="background-color: hsla(126, 58%, 48%, 0.051);">
      <div class="container text-center text-md-start mt-5">

        <div class="row mt-3">

          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>CURSOS.NET.SYSTEM
            </h6>
            <p>
              Estudia desde la comodidad de tu hogar, aprende segun tus ritmos, bajo el sello de una de las mejores Universidades de Bolivia.
              Cursos 100% online. Estudia desde casa y obten certificados. Matriculate ahora!
            </p>
          </div>

          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

            <h6 class="text-uppercase fw-bold mb-4">
              CURSOS
            </h6>
            <p>
              <a href="#!" class="text-reset" href="http://www.google.com">Diseño Grafico</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Ingles</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Programacion</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Redes</a>
            </p>
          </div>

          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

            <b><h6 class="text-uppercase fw-bold mb-4">
                ENLACES
            </h6></b>
            <p>
              <a href="#!" class="text-reset">Costo de Cursos</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Configuracion</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Reclamos</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Help</a>
            </p>
          </div>

          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

            <h6 class="text-uppercase fw-bold mb-4">
              CONTACTOS
            </h6>
            <p><i class="fas fa-home me-3"></i> Potosi, NY 10012, Bol.</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              cursos.net.system@gmail.com
            </p>
            <p><i class="fas fa-phone me-3"></i> + 591 72361453</p>
            <p><i class="fas fa-print me-3"></i> + 591 72 36 14 53</p>
          </div>

        </div>

      </div>
    </section>

    <div class="text-center p-4" style="background-color: hsla(126, 58%, 48%, 0.051);">
      © 2023 Copyright:
      <a class="text-reset fw-bold" href="https://www.uatf.edu.bo/">Ing.Sistemas.com</a>
    </div>

    
  </footer>

