<p>ingle works!</p>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./ingle.component.css">
</head>
<body>
	<div background="fondo.gif"></div>
    <div class="cabecera">
		<h1 align="center">INGLES</h1>
	</div>
	
	<div class="contenido">
		<h2 align="center">
			VIDEO
		</h2>
		cargar un video<br>
		Haga clic para navegar
		
	</div>
		<h4>
	<div class="seleccionar">
		<h4>
    			<input type="radio" name="confirmo" value="si"> subtitulos del video.
		</h4>	</br>
	</div>			
		<div class="iniciar">
        <h4>	
			<input type="button" id="Traducir" value="Traducir">
			<input type=" text" id="txt1" value="ingles" size="10"><br/>
		</h4>
	</div>
</body>
</html>