<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <TItle>TECNOLOGIAS EMERGENTES</TItle>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./incio.component.css">
 

</head>
<body>
  <main>
    <nav class="navbar navbar-expand-lg navbar-light btn-light" style="background-color:#eb00f3;">
        <div class="container container-mobile">
          
          <H2>INICIO</H2>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
        </div>
      </nav>
    <header>
      <section class="textos-header" >
        <h1>MUNDO SISTEMAS</h1>
      </section>
      <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.99 C150.00,150.00 349.20,-49.99 500.00,49.99 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #000000;"></path></svg></div>    
    </header>
   
      <section class="adopciones" style="background-color: #000000;">
        <div class="contenedor">
          <h2 class="titulo"> CONTENIDO </h2>
          <div class="galeria-port">
            <div class="imagen-port">
              <img src="./imagenes/img1.jpg" alt="">
              <div class="hover-galeria">
                <img src="./imagenes/icono.png" alt="">
                <p>DISEÑO GRAFICO</p>
              </div>
            </div>
            <div class="imagen-port">
              <img src="./imagenes/img2.jpg" alt="">
              <div class="hover-galeria">
                <img src="./imagenes/icono.png" alt="">
                <p>INGLES</p>
              </div>
            </div>
            <div class="imagen-port">
              <img src="./imagenes/img3.jpg" alt="">
              <div class="hover-galeria">
                <img src="imagenes/icono.png" alt="">
                <p>PROGRAMACION</p>
              </div>
            </div>
            <div class="imagen-port">
              <img src="./imagenes/img4.jpg" alt="">
              <div class="hover-galeria">
                <img src="./imagenes/icono.png" alt="">
                <p>REDES</p>
              </div>
            </div>
                 
      </section>
      <section style="background-color:#eb00f3;">
        <div class="clientes contenedor">
          <h2 class="titulo">DISEÑO GRAFICO</h2>
          <div class="cards">
         
            <div class="card">
              <img src="./imagenes/diseño.jpg" alt="">
              <div class="contenido-texto-card">
                <h4>El diseño gráfico se define como el arte y la práctica de planificar y proyectar ideas y experiencias con contenido visual y textual. </h4>             
              </div>
            </div>
        
      </section>
      <section style="background-color: #000000;">
        <div class="clientes contenedor">
          <h2 class="titulo">INGLES</h2>
          <div class="cards">
            <div class="card">
              
              <img src="./imagenes/ingles.png" alt="">
              <div class="contenido-texto-card">
                <h4>El inglés para programación no es absoluto, pero sí puede ser muy necesario, y te ayudará a entender mejor el mundo de los códigos.</h4>
              </div>
            </div>
        
      </section>
      <section style="background-color:#eb00f3;">
        <div class="clientes contenedor">
          <h2 class="titulo">PROGRAMACION</h2>
          <div class="cards">
            <div class="card">
        
              <img src="./imagenes/programacion.jpg" alt="">
              <div class="contenido-texto-card">
                <h4>La programación informática es el arte del proceso por el cual se limpia, codifica, traza y protege el código fuente de programas computacionales, en otras palabras, es indicarle a la computadora lo que tiene que hacer. </h4>
              </div>
            </div>
         
      </section>
      <section style="background-color: #000000;">
        <div class="clientes contenedor">
          <h2 class="titulo">REDES</h2>
          <div class="cards">
            <div class="card">
              <img src="./imagenes/redes.jpg" alt="">
              <div class="contenido-texto-card">
                <h4>Una red informática consiste en varios dispositivos electrónicos conectados entre sí para intercambiar y compartir información y recursos.</h4>
              </div>
            </div>
      </section>   
  </main>
</body>
</html>
