<app-menu></app-menu>
<p>home works!</p>

<mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>

<mat-card>
  <mat-card-content>
    <form>
      <section> 
        <mat-form-field class="example-form-field">
          <mat-label>Apellidos</mat-label>
          <input matInput type="text" [(ngModel)]="apellidos" name="apellidos">
          <button *ngIf="apellidos" matSuffix mat-icon-button aria-label="Clear" (click)="apellidos=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </section>
      <mat-divider></mat-divider>
      <section> 
        <mat-form-field class="example-form-field">
          <mat-label>Nombres</mat-label>
          <input matInput type="text" [(ngModel)]="nombres" name="nombres">
          <button *ngIf="nombres" matSuffix mat-icon-button aria-label="Clear" (click)="nombres=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>  
      </section>
      <mat-divider></mat-divider>
      <section>
        <mat-form-field class="example-form-field">
          <mat-label>Edad</mat-label>
          <input matInput type="text" [(ngModel)]="edad" name="edad">
          <button *ngIf="edad" matSuffix mat-icon-button aria-label="Clear">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>    
      </section>
      <mat-divider></mat-divider>
      <section>
        <button mat-flat-button color="primary" (click)="Guardar()">Guardar</button>
      </section>
    </form>    
  </mat-card-content>
</mat-card>

<button mat-flat-button color="primary" (click)="openDialog()">Agregar Usuario</button>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Acciones Column -->
    <ng-container matColumnDef="nro">
      <th mat-header-cell *matHeaderCellDef> Nro </th>
      <td mat-cell *matCellDef="let element; let i=index;">      
        {{i + 1}}
      </td>   
    </ng-container>    

    <!-- Name Column -->
    <ng-container matColumnDef="apellidos">
      <th mat-header-cell *matHeaderCellDef> Apellidos </th>
      <td mat-cell *matCellDef="let element"> {{element.apellidos}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="nombres">
      <th mat-header-cell *matHeaderCellDef> Nombres </th>
      <td mat-cell *matCellDef="let element"> {{element.nombres}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="edad">
      <th mat-header-cell *matHeaderCellDef> Edad </th>
      <td mat-cell *matCellDef="let element"> {{element.edad}} </td>
    </ng-container>

    <!-- Acciones Column -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element">    
        <mat-icon aria-hidden="false" fontIcon="edit"></mat-icon>  
        <mat-icon aria-hidden="false" fontIcon="delete"></mat-icon>  
      </td>   
    </ng-container>    
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
<table width="100%">
    <thead>
        <tr>
            <th>Nro</th>
            <th>Apellidos</th>
            <th>Nombres</th>
            <th>Edad</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let k of dataPersonas | keys">
            <td></td>
            <td>{{dataPersonas[k].apellidos}}</td>
            <td>{{dataPersonas[k].nombres}}</td>                        
            <td>{{dataPersonas[k].edad}}</td>            
            <td><a href="#" (click)="Borrar(k)">Eliminar</a></td>
            <td><a [routerLink]="['/personas',k]">Otro</a></td>
        </tr>
    </tbody>
</table>


